.recipe-list{
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 31% 31% 31%;
}

.recipe-list a{
    text-decoration: none;
}

.recipe-list .recipe{
    background: var(--background2);
    padding: 20px;
    animation: rotateBack .5s;
}

.recipe-list .recipe:hover{
    animation: rotate 1s both;
}

@keyframes rotate{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(5deg);}
}

@keyframes rotateBack{
    0% {transform: rotate(5deg);}
    100% {transform: rotate(0deg);}
}

.recipe-list .recipe h2{
    color: var(--title);
    font-size: 1.7rem;
    margin-bottom: 5px;
}

.recipe-list .recipe span{
    color: var(--grey);
    font-size: 1.3rem;
}

.recipe-list .recipe p{
    color: var(--dark);
    margin-top: 17px;
    font-size: 1.1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.recipe-list .recipe .madeBy{
    margin-top: 10px;
    font-size: 1.1rem;
}

.recipe-list .recipe .madeBy .author{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--title);
    text-decoration: underline 4px var(--purple);
}

.recipe-list .recipe .btnHolder{
    display: flex;
    justify-content: center;
}

.recipe-list .recipe .btnHolder .recipeBtn{
    display: flex;
    text-decoration: none;
    background: var(--background);
    color: var(--dark);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    margin-top: 1.5rem;
    padding: 6px 20px;
    cursor: pointer;
}

.recipe-list .recipe:hover .recipeBtn{
    background-color: #ccc;
    color: #333;
}

@media (max-width: 1200px){
    .recipe-list{
        grid-gap: 20px;
        grid-template-columns: 50% 50%;
    }

    .recipe-list .recipe{
        padding: 15px;
    }

    .recipe-list .recipe h2{
        font-size: 1.5rem;
    }
    
    .recipe-list .recipe span{
        font-size: 1.2rem;
    }
    
    .recipe-list .recipe p{
        font-size: 1rem;
    }
    
    .recipe-list .recipe .madeBy{
        font-size: 1rem;
    }
    
    .recipe-list .recipe .madeBy .author{
        font-size: 1rem;
    }
}

@media (max-width: 500px){
    .recipe-list{
        grid-gap: 20px;
        grid-template-columns: 100%;
    }
}