.recipe-list{
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 31% 31% 31%;
}

.recipe-list .recipe{
    background: #fff;
    padding: 15px;
    animation: rotateBack .5s;
}

.recipe-list .recipe:hover{
    animation: rotate 1s both;
}

@keyframes rotate{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(5deg);}
}

@keyframes rotateBack{
    0% {transform: rotate(5deg);}
    100% {transform: rotate(0deg);}
}

.recipe-list .recipe h2{
    color: var(--textDark);
    margin-bottom: 5px;
}

.recipe-list .recipe span{
    color: #888;
}

.recipe-list .recipe p{
    color: var(--textDark);;
    height: 60px;
    margin-top: 15px;
    font-size: 1.1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.recipe-list .recipe div{
    display: flex;
    justify-content: center;
}

.recipe-list .recipe div .recipeBtn{
    text-decoration: none;
    background: var(--background);
    color: var(--textDark);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    padding: 6px 20px;
}

.recipe-list .recipe .recipeBtn:hover{
    background-color: #ccc;
}