.recipe{
    padding: var(--padding);
}

.recipe .recipeInfo{
    background: #fff;
    padding: 40px;
    font-weight: 500;
}

.recipe .recipeInfo h1{
    text-align: center;
    font-size: 2.1rem;
    color: var(--title);
    margin-top: 2rem;
    margin-bottom: 1.8rem;
}

.recipe .recipeInfo .cookTime{
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: var(--textDark);
}

.recipe .recipeInfo .cookTime span{
    display: block;
    text-align: center;
    color: #888;
}

.recipe .recipeInfo .cookMethod{
    margin-top: 1.5rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--textDark);
}