nav{
    display: flex;
    background: var(--purple);
    color: var(--white);
    height: 90px;
    width: 100%;
    padding: var(--padding);
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    text-decoration: none;
    color: var(--white);
    font-size: 2.2rem;
    font-weight: 700;
}

nav .section{
    display: flex;
}

nav .section .createBtn{
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 1px solid var(--white);
    border-radius: 5px;
    margin-left: 30px;
    font-size: 1.3rem;
    color: var(--white);
    padding: 0 10px;
}

nav .section .createBtn:hover{
    background: var(--white);
    color: var(--purple);
}

nav .section .loginBtn{
    margin-left: 30px;
}

nav .section .user{
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 15px;
    background: none;
    height: fit-content;
}

nav .section .user img{
    height: 2.6rem;
    border-radius: 50%;
}

nav .section .user img:hover{
    border: 2px solid var(--white);
}