.create{
    padding: var(--padding);
}

.create h1{
    font-size: 2.2rem;
    color: var(--title);
    text-align: center;
}

.create .newRecipe{
    padding: 2rem 0 3rem 0;
    text-align: center;
    width: 600px;
    margin: 0 auto;
}

.create .newRecipe .row{
    margin-bottom: 1.6rem;
}

.create .newRecipe .row .inline{
    display: flex;
}

.create .newRecipe .row label{
    display: block;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: .8rem;
    color: var(--dark);
}

.create .newRecipe .row input[type=text], input[type=number], textarea{
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 50px;
    font-size: 1.6rem;
    padding: 15px;
    color: #444;
    background: var(--white);
}

.create .newRecipe .row input[type=text]:focus, input[type=number]:focus, textarea:focus{
    outline-color: var(--purple);
}

.create .newRecipe .row span{
    display: block;
    text-align: left;
    margin-top: .6rem;
    margin-bottom: 1.9rem;
    font-size: 1.3rem;
    color: var(--grey);
}

.create .newRecipe .row span strong{
    display: inline-flex;
    border: 2px solid var(--grey);
    border-radius: 6px;
    padding: 4px 6px;
    margin-right: 6px;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
}

.create .newRecipe .row span strong > .removeItem{
    display: inline-block;
    background: transparent;
    border: 2px solid var(--purple);
    border-radius: 5px;
    color: var(--purple);
    height: auto;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0;
    line-height: 1.8rem;
    width: 1.9rem;
    margin: 0;
    margin-left: .5rem;
}

.create .newRecipe .row span strong > .removeItem:hover{
    background: var(--purple);
    color: var(--white);
}

.create .newRecipe .row textarea{
    height: 80px;
    resize: vertical;
    overflow-y: auto;
}

.create .newRecipe input[type=submit], .addItem{
    height: 50px;
    font-size: 1.6rem;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background: var(--purple);
    color: var(--white);
    align-items: center;
    padding: 5px 25px;
    margin-left: 10px;
}

.create .newRecipe input[type=submit]:hover, .addItem:hover{
    background: #555;
}

.create .newRecipe .warning{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    color: red;
    margin-bottom: 1.6rem;
}

@media (max-width: 1200px){
    .create h1{
        font-size: 2rem;
    }

    .create .newRecipe .row label{
        font-size: 1.4rem;
    }
    
    .create .newRecipe .row input[type=text], input[type=number], textarea{
        font-size: 1.4rem;
    }
    
    .create .newRecipe .row span{
        font-size: 1.2rem;
    }

    .create .newRecipe .row span strong button{
        font-size: 1.35rem;
    }
}

@media (max-width: 680px){
    .create h1{
        font-size: 1.7rem;
    }

    .create .newRecipe{
        width: auto;
        padding: 1rem 0 1.5rem 0;
    }

    .create .newRecipe .row{
        margin-bottom: 1.1rem;
    }

    .create .newRecipe .row input[type=text], input[type=number], textarea{
        font-size: 1.3rem;
    }
    
    .create .newRecipe .row span{
        font-size: 1.1rem;
    }

    .create .newRecipe .row span strong button{
        font-size: 1.2rem;
    }
}