@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  transition: all .4s ease-out;
}

:root{
  --purple: #58249c;
  --title: #555;
  --white: #fff;
  --dark: #666;
  --grey: #888;
  --background: #dfdfdf;
  --background2: #fff;
  --padding: 50px 18%;
}

html::-webkit-scrollbar{
  width: .8rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: #777;
  border-radius: 6px;
}

html::-webkit-scrollbar-thumb:hover{
  background: #999;
  border-radius: 6px;
}

body{
  background: var(--background);
}

@media (max-width: 1440px){
  :root{
    --padding: 30px 12%;
  }
}

@media (max-width: 1000px){
  :root{
    --padding: 25px 5%;
  }
}
