@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

:root{
  --purple: #58249c;
  --title: #555;
  --white: #fff;
  --dark: #666;
  --grey: #888;
  --background: #dfdfdf;
  --background2: #fff;
  --padding: 60px 18%;
}

body{
  background: var(--background);
}
